<html ng-app="personIdFinder">
    <head>
        <title>Mojave HS Person ID Finder</title>
        <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.green-orange.min.css">
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>

    <body ng-controller="LookupController as lookup">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="assets/img/mojave-logo.png">
                    <img src="assets/img/google-apps-logo.png">
                    <h3>Find your CCSD Google account username</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="mdl-card mdl-card-wide mdl-shadow--2dp">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="search-form" ng-submit="lookup.search()">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="text" id="first_name" ng-model="lookup.user.firstName">
                                                <label class="mdl-textfield__label" for="first_name">First Name</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="text" id="student_number" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="lookup.user.studentNumber">
                                                <label class="mdl-textfield__label" for="student_number">Student Number</label>
                                                <span class="mdl-textfield__error">Input is not a number!</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Lookup</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-xs-12 email text-center">
                                <div ng-hide="lookup.user.found || lookup.searching">
                                    {{lookup.user.message}}
                                </div>
                                <div ng-show="lookup.searching" class="mdl-spinner mdl-js-spinner is-active"></div>
                                <div ng-show="lookup.user.found && !lookup.searching">
                                    <div class="result">
                                        <strong>Email:</strong> {{lookup.user.firstName | username}}.{{lookup.user.personId}}@nv.ccsd.net
                                    </div>
                                    <div class="result">
                                        <strong>Password:</strong> {{lookup.user.studentNumber}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank" href="https://accounts.google.com/ServiceLogin?hl=en&continue=https://www.google.com/">
                                        Sign In
                                    </a>
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect pull-right" ng-click="lookup.reset()">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
