body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.mdl-textfield {
    width: 100%;
}

@media (min-width: 800px) {
    .container {
        width: 800px;
    }
}

.mdl-card-wide {
    width: 100%;
}

.text-center {
    text-align: center;
}

.search-form {
    padding: 20px 30px;
}

.email {
    background-color: #eee;
    padding: 20px;
    width: 100%;
    margin-top: -20px;
}

.result {
    margin-bottom: 10px;
}

.result:last-of-type {
    margin-bottom: 0px;
}

.help-text {
    display: block;
    font-size: 10px;
    color: #696969;
    font-style: italic;
}